html {
  font-size: 62.5%; /* Now 10px = 1rem! */
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/** GLOBALS **/
body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

h1,
h2,
h3,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
}

/** UTILITIES **/
.container {
  width: 90%;
  margin: 0 auto;
}

/** HEADER **/
.first-background {
  background-color: #e5e5e5;
}

.close-menu {
  color: #fff;
  font-weight: 600;
  font-size: 2rem;
  position: absolute;
  right: 3rem;
  top: 3.5rem;
}

.projec-js,
.about-js,
.form-js {
  display: block;
}

.desktop-project-js,
.desktop-about-js {
  display: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  transition: all 0.5s ease;
}

.nav-links {
  display: none;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
  position: absolute;
  width: 100%;
  height: 100rem;
  background-color: rgba(96, 112, 255, 90%);
  right: 0;
  left: 0;
  margin-top: 1rem;
  padding-top: 5rem;
  padding-bottom: 0;
  transition: all 0.5s ease;
}

.nav-links a {
  font-size: 3.2rem;
  font-weight: 600;
  color: #fff;
  transition: all 0.5s ease;
  margin-left: 2rem;
}

.nav-links a:hover {
  border: 0.5rem solid #fff;
  color: #fff;
  padding: 0.7rem;
  border-radius: 0.5rem;
}

.nav-links a:first-of-type:hover {
  border: none;
  padding: 0.2rem 1rem;
  background-color: #fff;
  color: #6070ff;
}

.header-logo {
  color: #6070ff;
  font-weight: bold;
  font-size: 3rem;
  text-transform: capitalize;
  text-decoration: none;
  animation-name: header;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

@keyframes header {
  from {
    margin-left: -30%;
  }

  to {
    margin-left: 3.6%;
  }
}

.header-icon {
  font-size: 2.2rem;
  color: #6070ff;
  padding: 0.5rem;
  transition: 0.5s ease;
}

.header-icon:hover {
  cursor: pointer;
  border: 0.5rem solid #6070ff;
  font-size: 2.5rem;
}

@media (min-width: 1024px) {
  .project-js,
  .about-js {
    display: none;
  }

  .desktop-project-js,
  .desktop-about-js {
    display: block;
  }

  .close-menu {
    display: none;
  }

  .nav-links {
    margin-top: 0;
    display: flex;
    flex-direction: row;
    position: relative;
    height: auto;
    background-color: transparent;
    transform: translateX(0);
    width: auto;
    gap: 2rem;
    margin-right: 5rem;
    padding-top: 0;
    visibility: visible;
  }

  .nav-links a {
    font-size: 1.5rem;
    font-weight: 500;
    color: #344563;
    transition: all 0.5s ease;
    margin-left: 0;
  }

  .nav-links-mobile {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav-links-mobile a {
    margin-top: 1rem;
    font: 3.2rem;
    font-weight: 600;
  }

  .nav-links a:hover {
    background-color: #6070ff;
    color: #fff;
    padding: 0.7rem;
    border-radius: 1rem;
  }

  .nav-links a:active::after {
    background-color: red;
    color: white;
    border-radius: 0.5rem;
    border: none;
  }

  .nav-links a:first-of-type {
    margin-top: 0;
  }

  .header-logo {
    margin-left: 5rem;
  }

  .header-icon {
    display: none;
  }
}

/** INFO SECTION **/
.blur {
  filter: blur(0.5rem);
}

.info-background {
  background-color: #fff;
  border-bottom-left-radius: 8rem;
}

.info-back-image {
  background-image: url(../img/Mobile-version/mobile-top-background.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 10rem;
}

.info-back-opacity {
  opacity: 20%;
  transition: 0.5s ease;
  transition-delay: 0.1s;
}

.info-display {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.info-heading {
  color: #172b4d;
  font-weight: bold;
  font-size: 4rem;
  line-height: 5rem;
  margin-top: 18rem;
}

.info-paragraph {
  font-size: 1.6rem;
  color: #172b4d;
  line-height: 2.4rem;
}

.desktop1,
.desktop2 {
  display: none;
}

.info-heading2 {
  font-size: 1.6rem;
  color: #0016df;
  font-weight: 500;
  text-transform: uppercase;
}

.icons {
  margin: 0;
  padding-bottom: 15rem;
  display: grid;
  grid-template-columns: repeat(5, 4rem);
  column-gap: 0;
  align-items: center;
}

.icons li {
  list-style: none;
}

.links-icon {
  width: 3rem;
  height: 3rem;
  transition: 0.5s ease;
}

.links-icon:hover {
  width: 4rem;
  height: 4rem;
  border: 0.5rem solid #172b4d;
  padding: 0.5rem;
}

@media (min-width: 1024px) {
  .background {
    background-color: #fff;
    position: relative;
    border-bottom-left-radius: 10%;
  }

  .info-back-image {
    background-image: url(../img/desktop-version/desktop-top-background.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 5rem;
  }

  .info-display {
    margin-top: 8rem;
  }

  .info-paragraph br {
    display: none;
  }

  .info-heading br:nth-child(2) {
    display: none;
  }

  .desktop1,
  .desktop2 {
    display: block !important;
  }
}

/* /** PROJECTS SECTION * */

.desktop-project1,
.desktop-project2,
.desktop-project3,
.desktop-project4 {
  display: none;
}

.desktop-background {
  display: none;
}

.desktop-project1-br1,
.desktop-project2-br1,
.desktop-project2-br2 {
  display: none;
}

.projects-section {
  background-color: #e5e5e5;
  padding: 2rem 1rem;
  position: relative;
}

.project-1 {
  margin-top: 5rem;
  background-color: #fff;
  padding: 2rem 1.5rem;
  border-radius: 2rem;
  display: grid;
  grid-template-rows: 20.2rem 4.5rem 2rem 8rem 2.5rem;
  row-gap: 1rem;
}

.project-1--img {
  display: block;
  margin: 0 auto;
}

.project-1--heading {
  font-weight: bold;
  color: #172b4d;
  font-size: 3.2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.project-1--paragraph {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.project1--paragraph1 {
  font-size: 1.3rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #0016df;
}

.project-1-icon1,
.project-1-icon2 {
  width: 0.8rem;
  height: 0.8rem;
  color: #c1c7d0;
}

.project1--paragraph2 {
  text-transform: capitalize;
  font-size: 1.3rem;
  color: #0016df;
}

.project1--paragraph3 {
  font-size: 1.3rem;
  color: #0016df;
}

.project1--paragraph4 {
  font-size: 1.5rem;
  color: #0016df;
  line-height: 2.4rem;
  margin-bottom: 1.5rem;
}

.project-1--paragraph2 {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  margin-bottom: 2rem;
}

.project1--link1,
.project1--link2,
.project1--link3 {
  font-size: 1.2rem;
  color: #0016df;
  background-color: #ebebff;
  padding: 0.5rem 1rem;
  border-radius: 0.8rem;
  text-transform: capitalize;
}

.project1-link4 {
  width: 11rem;
  font-size: 1.7rem;
  font-weight: 500;
  color: #0016df;
  border: 0.2rem solid #396df2;
  display: block;
  padding: 1rem 0;
  border-radius: 0.8rem;
  text-align: center;
  transition: 0.5s ease;
}

.project1-link4:hover {
  background-color: #396df2;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
}

.project-2 {
  margin-top: 5rem;
  background-color: #fff;
  padding: 2rem 1.5rem;
  border-radius: 2rem;
  display: grid;
  row-gap: 1rem;
}

@media (min-width: 1024px) {
  .project-display {
    display: flex;
    gap: 5rem;
    justify-content: center;
    align-items: center;
  }

  .project-1--img {
    width: 40%;
    margin: 0;
  }

  .project-1--heading {
    margin-bottom: 2rem;
    margin-top: 0;
  }

  .project-1--paragraph {
    margin-bottom: 2rem;
  }

  .project-1--paragraph2 {
    margin-bottom: 1.5rem;
  }

  .project1--paragraph4 {
    margin-bottom: 1.5rem;
  }

  .project-2:last-of-type {
    margin-bottom: 3rem;
  }
}

/* POP UP SECTION */

.popup {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.popup-background {
  position: fixed;
  background-color: #fff !important;
  width: 95%;
  height: 95%;
  left: 1rem;
  right: 1rem;
  top: 1rem;
  bottom: 1rem;
  padding: 1rem;
  border-radius: 1rem;
}

.close-popup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.popup-tonic {
  font-size: 3rem;
  color: #172b4d;
  font-weight: 700;
}

.popup1-close-window {
  margin-right: 3rem;
  border: none;
  background-color: transparent;
  color: #67798e;
  font-size: 1.3rem;
  font-weight: 600;
  transition: all 0.5s ease;
}

.popup1-close-window:hover {
  font-size: 1.8rem;
  cursor: pointer;
}

.popup-list1 {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.popup-canopy {
  font-size: 1.3rem;
  color: #344563;
  font-weight: 600;
}

.popup-circle {
  width: 0.8rem;
}

.popup-back-end {
  font-size: 1.3rem;
  color: #7a869a;
  font-weight: 600;
}

.popup-year {
  font-size: 1.3rem;
  color: #7a869a;
  font-weight: 600;
}

.popup-img {
  width: 100%;
}

.popup-paragraph {
  font-size: 1.5rem;
  color: #344563;
  margin-bottom: 2rem;
  font-weight: 400;
}

.popup-list2 {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding-bottom: 1rem;
  border-bottom: 0.3rem solid #ebecf0;
}

.popup-languajes {
  font-size: 1.2rem;
  font-weight: 500;
  color: #6070ff;
  background-color: #ebebff;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.popup-buttons {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
}

.popup-buttons img {
  width: 2rem;
}

.popup-link {
  font-size: 1.5rem;
  font-weight: 500;
  color: #396df2;
  border: none;
  background-color: transparent;
  transition: all 0.5s ease;
}

.popup-link:hover {
  cursor: pointer;
}

.popup-seelive,
.popup-see-src {
  display: flex;
  gap: 1rem;
  align-items: center;
  border: 0.3rem solid #396df2;
  padding: 1rem;
  border-radius: 0.8rem;
  transition: all 0.5s ease;
}

.popup-seelive-img,
.popup-src-img {
  transition: all 0.5s ease;
}

.popup-seelive-img:hover {
  cursor: pointer;
}

.popup-src-img:hover {
  cursor: pointer;
}

@media (min-width: 1024px) {
  .popup-background {
    top: 1.5rem;
    left: 2.5rem;
  }

  .popup-img {
    width: 50%;
    margin: 0 auto;
    display: block;
  }

  .desktop-display-left {
    display: flex;
    margin-top: 2rem;
    justify-content: space-between;
    gap: 1rem;
  }

  .popup-paragraph {
    width: 60%;
  }

  .popup-buttons {
    margin-right: 3rem;
  }
}

/** ABOUT SECTION **/
.about-desktop-version {
  display: none;
}

.about {
  background-color: #fff;
  border-top-right-radius: 10rem;
  padding: 5rem 2rem;
  margin-top: 3rem;
}

.about-display {
  display: grid;
  row-gap: 1rem;
  margin-bottom: 4rem;
}

.about-heading {
  color: #172b4d;
  font-size: 4rem;
}

.about .info-heading2 {
  margin-top: 2rem;
}

.about-paragraph {
  font-size: 1.4rem;
  color: #344563;
  margin-top: 1rem;
}

.about .icons {
  margin-top: 2rem;
  padding-bottom: 0;
}

.about .icons li:nth-child(1) {
  grid-column: 4/5;
}

.about .icons li:nth-child(2) {
  grid-column: 2/3;
  grid-row: 1/2;
}

.about .icons li:nth-child(3) {
  grid-column: 5/6;
}

.about .icons li:nth-child(4) {
  grid-column: 1/2;
  grid-row: 1/2;
}

.about .icons li:last-of-type {
  grid-column: 3/4;
  grid-row: 1/2;
}

.about-link {
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  width: 18rem;
  font-size: 1.7rem;
  font-weight: 500;
  color: #396df2;
  border: 0.2rem solid #396df2;
  display: block;
  padding: 1rem 2rem;
  border-radius: 0.8rem;
  text-align: center;
  transition: 0.5s ease;
}

.about-link:hover {
  background-color: #396df2;
  font-weight: 500;
  color: #fff;
}

.about-languajes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.about-languajes--heading {
  font-size: 2rem;
  color: #344563;
}

.about-languajes--arrow {
  font-size: 3rem;
  margin-right: 2rem;
  transform: rotate(90deg);
  color: #acb7c3;
}

.about-languajes--languajes {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.languajes-display {
  display: flex;
  gap: 2rem;
  align-items: center;
  padding: 1rem;
  background-color: #f7f7f9;
}

.languaje-img {
  width: 4.8rem;
  height: 4.8rem;
}

.languaje-paragraph {
  text-transform: capitalize;
  font-size: 1.5rem;
  color: #253858;
  font-weight: 500;
}

.frameworks-skills--display {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  border-bottom: 0.5rem solid #f7f7f9;
  padding-bottom: 2rem;
}

.frameworks-skills-heading {
  font-size: 2rem;
  color: #344563;
  margin-top: 3rem;
}

.frameworks-skills-paragraph {
  font-size: 3rem;
  margin-right: 2rem;
  color: #acb7c3;
}

@media (min-width: 1024px) {
  .about {
    display: none;
  }

  .about-desktop-version {
    display: block;
    background-color: #fff;
    padding: 4rem;
    border-top-right-radius: 10rem;
  }

  .about-display {
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-start;
  }

  .about-desktop1 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .about-languajes--languajes {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .languajes-display {
    display: block;
    width: 11rem;
    height: 10rem;
    flex-direction: column;
    align-items: flex-start;
  }

  .about-desktop2 .languaje-paragraph {
    margin-top: 1rem;
  }

  .frameworks-skills--display {
    margin-top: 3rem;
  }

  .about-desktop-version .icons {
    padding-bottom: 3rem;
  }
}

.last-background {
  background-color: #fff;
  position: relative;
}

/** FORM SECTION **/
.d-form-paragraph {
  display: none;
}

.form-section {
  background-color: #0016df;
  border-top-left-radius: 10rem;
  padding-top: 5rem;
  position: relative;
}

.form-back-image {
  background-image: url(../img/Mobile-version/mobile-bottom-backgrounnd.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center center;
  width: 130%;
  height: 100%;
  position: absolute;
  top: -2rem;
  bottom: 0;
  right: 0;
  left: 1.4rem;
}

.form-heading {
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
  color: #fff;
  margin-top: 6rem;
}

.form-paragraph {
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
  padding-top: 3rem;
  line-height: 2.8rem;
  color: #fff;
}

form {
  margin-top: 2rem;
}

fieldset {
  border: none;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

.text,
.email,
.text-area {
  padding: 2rem 1rem;
  font-size: 1.7rem;
  color: #172b4d;
  font-weight: 400;
  display: block;
  width: 100%;
  border-radius: 1rem;
  margin-bottom: 1.5rem;
  border: none;
  z-index: 1000 !important;
}

.text-area {
  height: 16rem;
}

.submit {
  position: relative;
  background-color: #fff;
  color: #0016df;
  font-size: 1.7rem;
  font-weight: 500;
  padding: 2rem 1rem;
  border-radius: 1rem;
  border: none;
  text-transform: capitalize;
  transition: 0.5s ease;
  margin-bottom: 4rem;
  margin-left: 1rem;
  align-self: flex-start;
  z-index: 1000 !important;
}

.submit:hover {
  cursor: pointer;
  background-color: #6070ff;
  color: #fff;
  border: 0.2rem solid #fff;
}

.submit:active {
  padding: 2.5rem 1.5rem;
  -webkit-box-shadow: 0 0 1.3rem 1rem #fff;
  box-shadow: 0 0 1.3rem 1rem #fff;
}

.form-error {
  padding: 0.5rem;
  font-size: 1.7rem;
  color: #fff;
  font-weight: 700;
  display: block;
  width: 70%;
  border-radius: 1rem;
  margin: -1.5rem 0 1rem 0;
  border: 0.2rem solid #fff;
  text-align: start;
  text-transform: uppercase;
}

@media (min-width: 1024px) {
  .form-back-image {
    background-image: url(../img/desktop-version/desktop-bottom-background.svg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
  }

  fieldset {
    padding-top: 2rem;
  }

  .form-paragraph {
    display: none;
  }

  .d-form-paragraph {
    display: block;
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
    padding-top: 3rem;
    line-height: 2.8rem;
    color: #fff;
  }

  .text,
  .email,
  .text-area {
    width: 40%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 0;
    z-index: 1000 !important;
  }

  .text-area {
    padding: 1rem 1rem 0 1rem;
  }

  .form-button {
    padding-bottom: 4rem;
  }

  .submit {
    width: 20%;
    display: block;
    margin: 0 auto;
  }
}
